* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-area {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-text {
  color: #6c6b6b;
  padding: 20px;
}

.box {
  width: 840px;
  margin: 50px auto;
}

.content {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px #6b6c6c;
}

.text {
  color: #6b6c6c;
}

.content, a {
  color: #6b6c6c;
}
